.stock-name .ng-valid,
.stock-code .ng-valid,
.stock-price .ng-valid{
    background-color: green;
}

.stock-name .ng-invalid,
.stock-code .ng-invalid,
.stock-price .ng-invalid{
    background-color: pink;
}
.notable-people {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    }